
/* Estilos para el encabezado (header) */
.header {
    grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
    grid-row: 1; /* Ocupa la primera fila */
}
/* Estilos para el contenido principal (main) */



/* Estilos para el pie de página (footer) */
.footer {
    grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
    grid-row: 3; /* Ocupa la tercera fila */
}



:root {
    /*color fondo de pagina*/
    --color-page: #EDDCC1;
    /*color fondo alternativo*/
    --color-alt: light rgb(223, 184, 236);
    
    /*Color barra superior*/
    --color-barra: rgba(248, 155, 248, 0.705);

    /*Color de texto*/

    --color-texto: black;

    /*Color barra desplazamiento*/

    --color-barralateral:rgba(128, 128, 128, 0.404);

    /*Color Boton */

    --color-boton: green;

    /*Color letra-navegacion*/

    --color-let-nav: white;
}
/*se ve fondo blanco y bordes del main*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-page);
    color: var(--color-texto);
    margin: 0;
} 
.contenedor {
    background-color: var(--color-barra);
    color: var(--color-texto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;


}
a {
    font-family: 'Playball', cursive;
    font-size: 1.2em;
    color: var(--color-texto);
    text-decoration: none;
    margin-right: .5em;
    
}

a.actual {
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
}
header {
    margin-top: 0;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-texto);
    height: 2em;
}

.logo img {
    justify-content: flex-start;
    height: 4em;
}
.logo p {
    font-family: 'Playball', cursive;
    font-size: 1.8em;
}
nav a.actual:hover {
    color:var(--color-texto)
}
nav a:hover {
    color: var(--color-let-nav);
}


header ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul, footer ul {
    display: flex;
    place-content: space-between;
}
header ul {
    font-size: .9em;
    margin-right: .1em;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center;    */
    background-color: lightslategrey;
    grid-gap: 4rem;
    padding: 1.5rem;
    z-index: 555;
} 
.main .cont1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: blueviolet;
    border-style: solid;/*sacar par no ver los bordes*/
    border-radius: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color:var(--color-barra);
    z-index: 9998;
    

}
.main .cont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: blueviolet;
    border-style: solid;/*sacar par no ver los bordes*/
    border-radius: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: var(--color-barra);
    z-index: 9998;
}
.profesor {
    /* display:inline-block; */
    height: 20em;
    /* padding-top: 2em;
    padding-left: 3rem; */
    border-radius: 2em;
    max-width: 100%;
    /* height: auto; */
}
.alumno {
    /* display: flex; */
    height: 15em;
    /* padding-top: 2em;
    padding-left: 3rem; */
    border-radius: 2em;
    max-width: 100%;
    
}
.main p {
    font-family: cursive;
    font-size: 16;
    border: 1px ;
    padding:10px;
    text-align: justify;
    margin: 1.5em;
}
footer {
    background-color: var(--color-barra);
}
footer ul {
    margin-bottom: 0;
}
footer ul li a{
    font-size: 1.1em;
}
footer ul li {
    font-size: 1em;
}

.boton-principal {
    background: var(--color-boton);
    color: var(--color-let-nav);
    border: 3px solid var(--color-boton);
    border-radius: 5em;
    font-weight: bold;
    font-size: 1.3em;
    padding: .5em 1.1em;
    display: inline-block
}
.boton-principal:hover {
    color:var(--color-boton);
    background: var(--color-let-nav);
}
#contenedor, main, aside, footer {
    padding: 1em;
}
#nosotros li img {
    width: 10em;
    height: 10em;
}
.grid-container {
    width: 100%;
    max-width: 1080;
    margin: 0 auto;
    background-color:rgb(169, 212, 206);
} 
#menu, #menu-check {
    display: none;   
}
@media (min-width: 320px) {
    

    @media only screen and (max-width: 600px) {
            #menu-check:not(:checked) ~ nav {
                display: none;
            }
            #menu-check:checked ~ nav {
                display: block;
            }
            .logo {

                height: 3em;
            }
            #menu {
                display: block;
                color: var(--color-texto);
                background-color: transparent;
                font-size: 1.2em;
                font-weight: bold;
                border: 3px solid var(--color-texto);
                border-radius: .3em;
                position:absolute;
                right: 2em;    
                z-index: 999999;
            }
            #menu:hover {
                color : var(--color-let-nav);
                background: var(--color-texto);
            }
            #menu-cerrar {
                display: none;
            }

            #menu-check:checked ~ label #menu-abrir {
                display: none;
            }
            #menu-check:checked ~ label #menu-cerrar {
                display: block;
            }

            header div.contenedor nav {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 25%;
                background-color: var(--color-barralateral);
                padding-top: 2.5em;
                padding-right: 1.5em;
                opacity: 1;
                color:var(--color-let-nav);
                z-index: 9999;
            }
            .contenedor {
                padding: .5em;;
            }
            header div.contenedor nav ul li {
                color:var(--color-let-nav);
                background: none;
            }
            header div.contenedor nav ul, header div.contenedor nav ul li {
                display: block;
                text-align: left;
                margin-top: .6em;
            
            }
            nav a.actual:hover {
                color:var(--color-let-nav);
            }
            nav a:hover {
                color: var(--color-texto);
            }
            a {
                font-size: 1.2em;
                color: var(--color-let-nav);
                text-decoration: none;
                margin-right: .5em;
                
            }

            .main {
                grid-template-columns: 1fr;
            }
            .cont1, .cont2 {
                display:block;
                flex-direction: column;
                justify-content: center; /* Centra horizontalmente el contenido de la columna */
                align-items: center; /* Centra verticalmente el contenido de la columna */
            }

                .cont1 img {
                    max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
                    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
            }
            

    }

    @media only screen and (max-width: 770px) {   

        .main {
        display: grid;
        justify-content: center;
        align-content: center;      
        }
        .cont1, .cont2 {
        display: flex;
        justify-content: center; /* Centra horizontalmente el contenido de la columna */
        align-items: center; /* Centra verticalmente el contenido de la columna */
        }
      
          img {
        max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
        height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
        }
        #leyenda {
            display: none;
        }
        .nosotros {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
    }
}



/* .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: var(--color-alt);
    justify-content: center;
    } */
/* .nosotros .tarjeta {
        display: flex;
        flex-direction: column;
        border-radius: 15rem;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
        background-color: lightgreen;
        padding: 2rem;
        justify-items: center;
      } */
/* .nosotros .tarjeta img {
    width:250px;
    height: auto;
    border-radius: 10em;
} */
     
blockquote {
    display: block;
    text-align: center;
    margin-top: 2px;
}
.nosotros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 3em;
    margin-bottom: 1em;

  }
  /* .nosotros .tarjeta img {
    width:250px;
    height: auto;
    border-radius: 10em; */

    .tarjeta {
        border: 1px solid #ccc;
        text-align: center;
        padding: 20px;
        border-radius: 15em;
      }
      .tarjeta img {
        max-width: 100%;
        height: auto;
        border-radius: 12em;
      }


      