
.usuario {
            display: inline-block;
            margin: 10px;
            text-align: center;
            border: 1px solid blue;
            border-radius: 10px;
            padding: 10px;
            width: 300px;
            background-color: lightblue;
            box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
        }
#main{
    display: inline-block;
    margin: 10px;
    text-align: center;
    }
#main :hover {
    animation: changeColor 5s ease infinite;
    transition-duration: 2s;
    transform: scale(1.1);
}
    .titulo-principal2 {
            text-align: center;
            font-size: 2.3em;
            margin: 0 0 1em;
            clear: left;
    }
.principal :hover {
    transition-duration: 2s;
    background-color: #ADD8E6;
}
    .titulo-principal {
            text-align: center;
            font-size: 2.3em;
            margin: 0 0 1em;
            clear: left;
    }

/* Media Queries --------------------------------------------------*/
@media only screen and (max-width: 320px) {
/* colaboradores.html */
.body {
                 width: 100%;
                 margin-top: 15px;
                 padding: 0;

    }
.usuario {
        width: 80%;
    }
.titulo-principal2 {
        margin-top: 25%;
        width: 80%;
        align: left;
             }
#menu {
        color: var(--color-texto);
        background-color: transparent;
        font-size: 1.2em;
        font-weight: bold;
        background-color: lightblue solid;
        border: 3px solid var(--color-texto);
        border-radius: .3em;
        position:absolute;
        right: 2em;
        z-index: 999999;
}
#menu-check:not(:checked) ~ nav {
       display: none;
}
#menu-check:checked ~ nav {
       display: block;
}
#menu:hover {
       color : var(--color-let-nav);
       background: var(--color-texto);
}
#menu-cerrar {
       display: none;
}

#menu-check:checked ~ label #menu-abrir {
      display: none;
}
#menu-check:checked ~ label #menu-cerrar {
      display: block;
}
#main :hover {
    animation: changeColor 5s ease infinite;
    transition-duration: 2s;
    transform: scale(1.1);
}


}

@media only screen and (max-width: 768px) and (min-width: 321px) {
.body {
                 width: 100%;
                 margin-top: 15px;
                 padding: 0;

    }
    #main{
        width: 100%;
    }
    .header, .contenedor{
        width: 100%;
        }
.usuario {
        width: 80%;
    }
.titulo-principal2 {
        margin-top: 25%;
        width: 80%;
        align: left;
             }
#menu {
        color: var(--color-texto);
        background-color: transparent;
        font-size: 1.2em;
        font-weight: bold;
        background-color: lightblue solid;
        border: 3px solid var(--color-texto);
        border-radius: .3em;
        position:absolute;
        right: 2em;
        z-index: 999999;
}
#menu-check:not(:checked) ~ nav {
       display: none;
}
#menu-check:checked ~ nav {
       display: block;
}
#menu:hover {
       color : var(--color-let-nav);
       background: var(--color-texto);
}
#menu-cerrar {
       display: none;
}

#menu-check:checked ~ label #menu-abrir {
      display: none;
}
#menu-check:checked ~ label #menu-cerrar {
      display: block;
}
.banner {
            margin-top: 15%;
        }
        form {
            width: 80%;
            padding: 0;
        }
        .cuerpo-contact {
            margin-top: 15%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
        }
      /*  header div.contenedor nav ul, header div.contenedor nav ul li {
                    display: block;
                    text-align: left;
                    margin-top: .6em;
                    font-size: .9em;
                }*/
}
